<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/main.css"/>
</head>
<body>
<div class="container">
    <div class="flex">
        <header>
            <h1>SPELDAGS</h1>
            <div id="logo"><i class="fas fa-gamepad"></i></div>
            @Html.Partial("_Navbar")
        </header>

        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div>
            &copy; 2022 - dt191g_moment2_MVC
        </div>
    </footer>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://kit.fontawesome.com/be0f6fe16e.js" crossorigin="anonymous"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>