<nav>
    <ul>
        <li>
            <a asp-area="" asp-controller="Start" asp-action="Index">Hem</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Start" asp-action="Games">Spel</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Start" asp-action="GameTip">Speltips</a>
        </li>
    </ul>
</nav>