<nav>
    <ul class="flex">
        <li>
            <a asp-area="" asp-controller="Start" asp-action="Index">hem</a>
        </li>
        <li id="border-nav">
            <a asp-area="" asp-controller="Start" asp-action="Games">spel</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Start" asp-action="GameTip">speltips</a>
        </li>
    </ul>
</nav>