@using Microsoft.AspNetCore.SignalR.Protocol
@model dt191g_moment2_MVC.Models.GamesModel

@{
    ViewData["Title"] = "Spel";
}

@* Hämta datum *@
<div class="date">
    <div><b>Dagens datum: @ViewData["date"]</b></div>
</div>

<h2>Alla spel</h2>
<div class="flex games-container">
    @* Lista med spel *@
    <div class="games">
        @if (ViewBag.games != null)
        {
            @foreach (var item in ViewBag.games)
            {
                string kid = "Nej";
                if (item.kidFriendly)
                {
                    kid = "Ja";
                }
                <div class="game">
                    <h4>@item?.title</h4>
                    <div class="game-text">
                        <p><b>Genre: </b>@item?.type</p>
                        <p><b>Pris: </b>@item?.price</p>
                        <p><b>Barnvänligt: </b>@kid</p>
                    </div>
                </div>
            }
        }
    </div>

    @* Formulär med lägg till spel *@
    <div class="add-form">
        @{
            // Generera ett ID som är +1 från det sista IDt
            var newId = 1;
            if (ViewBag.games != null)
            {
                var index = ViewBag.games.Count - 1;
                var lastId = ViewBag.games[index];
                newId = lastId.id + 1;
            }
        }
        <h3>Lägg till spel</h3>
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <label asp-for="id"></label>
            <input type="number" asp-for="id" value="@newId" readonly/>

            <label asp-for="title"></label>
            <input type="text" asp-for="title"/>
            <span asp-validation-for="title"></span>
            
            <label asp-for="type"></label>
            <select asp-for="type">
                <option value="RPG">RPG</option>
                <option value="Äventyr">Äventyr</option>
                <option value="Fantasy">Fantasy</option>
                <option value="Plattform">Plattform</option>
                <option value="Online">Online</option>
                <option value="Relation">Relation</option>
                <option value="FPS">FPS</option>
            </select>
            <span asp-validation-for="type"></span>

            <label asp-for="price"></label>
            <input type="number" asp-for="price"/>
            <span asp-validation-for="price"></span>
            
            <div class="flex kid-field">
                <label asp-for="kidFriendly"></label>
                <input asp-for="kidFriendly" type="checkbox"/>
            </div>
            
            <input type="submit" value="Lägg till" class="btn"/>
        </form>
        
        @Html.Partial("_Mascot")
    </div>
</div>
