@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Fascinate&family=Roboto:ital,wght@0,300;0,500;1,300;1,400&family=Sigmar+One&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #161617;
  font-family: "Roboto", sans-serif;
  color: #161617;
}

.container {
  max-width: 1320px;
  margin: auto;
  background: #f9f7fc;
  min-height: 100vh;
}

main {
  margin: auto;
  padding: 10rem 1rem 1rem 1rem;
  min-height: 90vh;
  position: relative;
}
@media screen and (min-width: 800px) {
  main {
    width: 750px;
  }
}
@media screen and (max-width: 800px) {
  main {
    width: 100%;
    max-width: 500px;
  }
}

.flex {
  display: flex;
}

.info {
  background: white;
  padding: 2rem;
  margin: auto;
}
.info p {
  margin-bottom: 1rem;
}

h1, h2, h3, h4 {
  margin: 0;
}

h1 {
  font-family: "Bungee Shade", cursive;
  font-size: 5rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.3rem;
}

header {
  background-color: #52c5d0;
  width: 250px;
  position: relative;
  padding-top: 7rem;
}
header #logo {
  text-align: center;
  margin-bottom: 1rem;
}
@media screen and (max-width: 550px) {
  header #logo {
    text-align: left;
    margin-bottom: 0;
  }
}
header i {
  font-size: 5rem;
}
@media screen and (max-width: 550px) {
  header i {
    font-size: 4rem;
  }
}
@media screen and (max-width: 800px) {
  header {
    padding: 7rem 1rem 1rem 1rem;
  }
}

nav ul {
  list-style-type: none;
  flex-direction: column;
}
nav a {
  display: flex;
  padding: 0.7rem;
  text-decoration: none;
  transition: 0.2s;
  justify-content: center;
  margin: auto;
  color: white;
  font-size: 1.1rem;
}
@media screen and (min-width: 800px) {
  nav a:hover {
    background: #f9f7fc;
    letter-spacing: 1px;
    color: #161617;
  }
}

.active {
  background: #dc0075;
}

.date {
  position: absolute;
  top: 7rem;
  right: 1rem;
}

@media screen and (max-width: 800px) {
  .games-container {
    flex-direction: column;
  }
}

.games {
  flex: 2;
  padding-right: 2rem;
}
@media screen and (max-width: 800px) {
  .games {
    padding-right: 0;
  }
}
.games p {
  margin-bottom: 0.3rem;
}

.add-form {
  flex: 1;
}

.game {
  margin-bottom: 2rem;
  background: white;
}
.game h4 {
  background: #161617;
  color: #a9eaf1;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.game .game-text {
  padding: 0.5rem;
}

form label, form input, form select {
  width: 100%;
  display: block;
}
form input, form select {
  padding: 0.5rem;
}
form label {
  margin-top: 0.5rem;
}
form select {
  border: none;
  border-radius: 0;
  background: white;
}
form #kidFriendly {
  margin-top: 0.5rem;
}
form .kid-field {
  margin-top: 0.5rem;
}
form .btn {
  padding: 0.5rem;
  background: #52c5d0;
  color: white;
  transition: 0.3s;
  border-radius: 20px;
  border: none;
  margin-top: 1rem;
}
@media screen and (min-width: 800px) {
  form .btn:hover {
    letter-spacing: 1px;
    cursor: pointer;
  }
}
form #id::-webkit-outer-spin-button, form #id::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
form #id[type=number] {
  -moz-appearance: textfield;
}
form #id {
  color: #939393;
}

.mascot {
  margin-top: 2rem;
  text-align: center;
}

.game-info {
  flex: 2;
  text-align: center;
}
.game-info p {
  font-size: 1.3rem;
}
@media screen and (max-width: 800px) {
  .game-info p {
    font-size: 1rem;
  }
}

.game-tip-container {
  margin-top: 2rem;
}
@media screen and (max-width: 600px) {
  .game-tip-container {
    flex-direction: column;
  }
}
.game-tip-container h4 {
  margin-bottom: 1rem;
  background: #161617;
  color: #a9eaf1;
  padding: 0.5rem;
}
.game-tip-container p {
  margin: 0 0 0.5rem 0.5rem;
}
.game-tip-container .mascot {
  flex: 1;
}

footer {
  text-align: center;
  padding: 4rem 1rem;
  background: #2f2f31;
  color: #a9eaf1;
}

@media screen and (max-width: 550px) {
  .header-main-container {
    flex-direction: column;
  }

  nav ul {
    flex-direction: row;
    justify-content: flex-end;
  }

  header {
    width: 100%;
    padding: 4rem 1rem 1rem 1rem;
  }
  header h1 {
    font-size: 2.3rem;
  }

  main {
    padding: 2rem 1rem 1rem 1rem;
  }
  main h2 {
    font-size: 1.8rem;
    margin: 0.5rem 0;
  }
  main h3 {
    font-size: 1.5rem;
  }
  main .info {
    padding: 0.5rem;
  }

  .date {
    top: 1rem;
  }
}

/*# sourceMappingURL=main.css.map */
