@import "_base";

body {
  background: $void;
  font-family: 'Roboto', sans-serif;
  color: $void;
}

.container {
  max-width: 1320px;
  margin: auto;

  background: $body-color;
  min-height: 100vh;
}

main {
  //max-width: 750px;
  margin: auto;
  padding: 10rem 1rem 1rem 1rem;
  min-height: 90vh;
  position: relative;
  
  @include desktop {
    width: 750px;
  }
  
  @include tablet {
    width: 100%;
    max-width: 500px;
  }
}

.flex {
  display: flex;
}

.info {
  //max-width: 600px;
  background: white;
  padding: 2rem;
  margin: auto;
  
  p {
    margin-bottom: 1rem;
  }
}

h1, h2, h3, h4, {
  margin: 0;
}

h1 {
  font-family: 'Bungee Shade', cursive;
  font-size: 5rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

h2 {
  //font-family: "Sigmar One", cursive;
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.3rem;
}

header {
  //padding: 1rem 2rem;
  background-color: $header-color;
  width: 250px;
  position: relative;
  padding-top: 7rem;
  
  #logo {
    text-align: center;
    margin-bottom: 1rem;
    
    @include mobile {
      text-align: left;
      margin-bottom: 0;
      
    }
  }
  
  i {
    font-size: 5rem;
    
    @include mobile {
      font-size: 4rem;
    }
  }
  
  @include tablet {
    padding: 7rem 1rem 1rem 1rem;
  }
}

nav {
  ul {
    list-style-type: none;
    flex-direction: column;
  }
  
  a {
    display: flex;
    padding: 0.7rem;
    text-decoration: none;
    transition: 0.2s;
    justify-content: center;
    margin: auto;
    color: white;
    font-size: 1.1rem;
  }
  
  @include desktop {
    a:hover {
      background: $body-color;
      letter-spacing: 1px;
      color: $void;
    }
  }
}

.active {
  background: #dc0075;
}

.date {
  position: absolute;
  top: 7rem;
  right: 1rem;
}

// Games

.games-container {
  @include tablet {
    flex-direction: column;
  }
}

.games {
  flex: 2;
  padding-right: 2rem;

  @include tablet {
    padding-right: 0;
  }
  
  p {
    margin-bottom: 0.3rem;
  }
}

.add-form {
  flex: 1;
}

.game {
  margin-bottom: 2rem;
  background: white;
  
  //padding: 1rem;
  h4 {
    background: $void;
    color: $footer-text;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .game-text {
    padding: 0.5rem;
  }
}

// form
form {
  label, input, select {
    width: 100%;
    display: block;
  }
  
  input, select {
    padding: 0.5rem;
  }
  
  label {
    margin-top: 0.5rem;
  }
  
  select {
    border: none;
    border-radius: 0;
    background: white;
  }
  
  #kidFriendly {
    margin-top: 0.5rem;
  }
  
  .kid-field {
    margin-top: 0.5rem;
  }
  
  .btn {
    padding: 0.5rem;
    background: $header-color;
    color: white;
    transition: 0.3s;
    border-radius: 20px;
    border: none;
    margin-top: 1rem;
    
    @include desktop {
      &:hover {
        letter-spacing: 1px;
        cursor: pointer;
      }
    }
  }
  
  // Remove arrows on type number on ID input
  #id::-webkit-outer-spin-button, #id::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
  }

  #id[type=number] {
    -moz-appearance: textfield;
  }
  
  #id {
    color: $no-edit;
  }
}

// mascot
.mascot {
  margin-top: 2rem;
  text-align: center;
}

// gameTip
.game-info {
  flex: 2;
  //background: white;
  text-align: center;
  
  p {
    font-size: 1.3rem;
    
    @include tablet {
      font-size: 1rem;
    }
  }
}

.game-tip-container {
  margin-top: 2rem;
  
  @include small-tablet {
    flex-direction: column;
  }
  
  h4 {
    margin-bottom: 1rem;
    background: $void;
    color: $footer-text;
    padding: 0.5rem;
  }
  
  p {
    margin: 0 0 0.5rem 0.5rem;
  }
  
  .mascot {
    flex: 1;
  }
}

footer {
  text-align: center;
  padding: 4rem 1rem;
  background: $lighter-void;
  color: $footer-text;
  //border-top: solid 3px $border-color;
  
}

@include mobile {
  .header-main-container {
    flex-direction: column;
  }
  
  nav {
    ul {
      flex-direction: row;
      justify-content: flex-end;
    }
  }
  
  header {
    width: 100%;
    padding: 4rem 1rem 1rem 1rem;
    
    h1 {
      font-size: 2.3rem;
    }
  }
  
  main {
    padding: 2rem 1rem 1rem 1rem;
    
    h2 {
      font-size: 1.8rem;
      margin: 0.5rem 0;
    }
    
    h3 {
      font-size: 1.5rem;
    }
    
    .info {
      padding: 0.5rem;
    }
  }
  
  .date {
    top: 1rem;
  }
}